.clubs-logo {
    flex-shrink: 1;
    flex-grow: 1;
    width: 186px;
    height: 188px;
    border: 1px solid #E2EBF1;
    border-radius: 10px;
    .clubs-icon {
        margin: 0 auto;
        margin-top: 20px;
        display: block;
        width: 100px;
        height: 100px;
    }
    .clubs-title {
        margin: 0 auto;
        margin-top: 10px;
        display: block;
        width: 148px;
        height: 48px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
    }
}
@media (max-width: 475px) {
    .clubs-logo {
        width: 48.437%;
        height: 66px;
        border: 1px solid #E2EBF1;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 10px;
        align-items: center;
        .clubs-icon {
            margin: 0 auto;
            width: 46px;
            height: 46px;
        }
        .clubs-title {
            margin: 0;
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            text-align: left;
            height: auto;
        }
    }
}