.purchase-item {
    position: relative;
    width: 290px;
    min-height: 161px;
    border: 1px solid #E2EBF1;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 19px;
    flex-grow: 1;
    flex-shrink: 1;
    &::before {
        content: "";
        position: absolute;
        left:20px;
        top: 20px;
        width: 36px;
        height: 36px;
        background-size: cover;
    }
    &::after {
        position: absolute;
        right: 0;
        top: 0;
        content: "";
        font-size: 72px;
        font-weight: 700;
        line-height: 108px;
        text-align: center;
        width: 108px;
        height: 108px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #F3F8FC;
    }
    .purchase-item__title {
        margin-top: 46px;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
    }
    .purchase-item__descr {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        color: #828B92;

    }
}
.purchase-item.wide {
    width: 392px;
    max-width: 100%;
}
.purchase-item.first {
    &::after {
        content: "1";
    }
}
.purchase-item.create {
    &::before {
        background-image: url('../vectors/purchase-cart.svg');
    }
}
.purchase-item.second {
    &::after {
        content: "2";
    }
}
.purchase-item.confirm {
    &::before {
        background-image: url('../vectors/purchase-done.svg');
    }
}
.purchase-item.complect {
    &::before {
        background-image: url('../vectors/complect.svg');
    }
}
.purchase-item.delivery {
    &::before {
        background-image: url('../vectors/fast-delyvery-purchase.svg');
    }
}

.purchase-item.third {
    &::after {
        content: "3";
    }
}
.purchase-item.call{
    &::before {
        background-image: url('../vectors/purchase-call.svg');
    }
}
.purchase-item.fourth {
    &::after {
        content: "4";
    }
}
.purchase-item.fifth {
    &::after {
        content: "5";
    }
}
.purchase-item.sixth {
    &::after {
        content: "6";
    }
}
.purchase-item.get {
    &::before {
        background-image: url('../vectors/purchase-box.svg');
    }
}
.purchase-item.confirm {
    &::before {
        background-image: url('../vectors/confirm.svg');
    }
}
.purchase-item.design {
    &::before {
        background-image: url('../vectors/design.svg');
    }
}
@media (max-width:475px) {
    .purchase-item {
        padding: 15px;
        max-width: 100%;
        flex-shrink: 0;
        flex-grow: 1;
        min-height: 151px;
        &::before {
            left: 15px;
            top: 15px;
        }
    }
}