@use './base/myVariables';
body {
    margin: 0;
}
* {
    font-family: Onest, sans-serif;
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    width: 1218px;
    max-width: 96%;
}
ul {
    margin: 0;
}
button {
    border: none;
    &:focus {
        outline: none;
    }
}
p {
    margin: 0
}
h3, h2, h1 {
    margin: 0
}
.title {
    position: relative;
    font-size: 30px;
    font-weight: 800;
    line-height: 38.25px;
    text-align: left;
    color: myVariables.$black;
    font-weight: 700;
    &::after {
        content: "";
        position:absolute;
        width: 32px;
        height: 32px;
        top: 50%;
        transform: translateY(-50%);
        right: -42px;
        background-size: cover;
        background-image: url('../vectors/arrow-blue.svg');
    }
}
.title-small {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    color: myVariables.$black;
}
.without-pseudo {
    &::after,&::before {
        display: none!important;
    }
}
.also {
    margin-top: 60px;
    .wrapper {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}



.subheader {
    margin-top: 20px;
}
.single-main-block {
    margin-top: 30px;
    .container {
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    }
}
.about-goods {
    .about-goods__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        text-align: left;
        color: myVariables.$black;
    }
    .about-block {
        margin-top: 40px;
    }
    .about-goods__content {
        font-size: 16px;
        font-weight: 400;
        line-height: 28.8px;
        text-align: left;
        color: #212324;
        margin-top: 15px;
        ul {
            margin-top: 10px;
        }
    }
    .delivery-wrapper {
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .delyvery-subtitle {
        margin-top: 18px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color:#647079;
        padding-bottom: 20px;
    }
}



@media (max-width:475px) {
    .container {
        width: 94.117%;
        margin: 0 auto;
    }
    .title {
        font-size: 24px;
        line-height: 36px;
        &::after {
            right: -39px;
        }
    }
    .subheader {
        margin-top: 90px;
    }
    .single-main-block {
        margin-top: 15px;
        .container {
            flex-direction: column;
            gap: 20px;
        }
    }
    .about-goods {
        margin-top: 18px;
        .about-block {
            margin-top: 10px;
            .about-goods__title {
                position: relative;
                font-size: 18px;
                line-height: 27px;
                padding: 15px 0px;
                border-bottom: 1px solid #E2EBF1;
                &::after {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%) rotate(90deg);
                    width: 24px;
                    height: 24px;
                    background-size: cover;
                    background-image: url('../vectors/arrow-blue.svg');
                }
            }
            .about-goods__content {
                display: none;
                font-size: 16px;
                font-weight: 400;
                line-height: 28.8px;
                text-align: left;
                color: #212324;
                margin-top: 0px;
                ul {
                    margin-top: 10px;
                    padding-left: 24px;
                }
            }
        }
        .about-block.active {
            .about-goods__title {
                border: none;
                &::after {
                    transform: translateY(-50%) rotate(-90deg);
                }
            }
            .about-goods__content {
                display: block;
            }
        }
        
        
        
        .delivery-wrapper {
            margin-top: 5px;
            flex-direction: column;
            justify-content: unset;
            gap: 10px;
        }
        .delyvery-subtitle {
            margin-top: 18px;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
            color:#647079;
            padding-bottom: 20px;
        }
    }
    .also {
        margin-top: 30px;
        .wrapper {
            overflow-x: auto;
            -ms-overflow-style: none;
            &::-webkit-scrollbar {
                display: none;
            }
            margin-top: 15px;
            gap: 10px;
        }
    }
    
}

@import './libs/fonts';
@import './items/breadcrumbs.scss';
@import './items/buttons';
@import './blocks/header';
@import './blocks/mobile-header';
@import './blocks/footer';
@import './items/single-slider';
@import './items/single-options';
@import './items/delyvery-item';
@import './items/good';
@import './items/sizes-popup.scss';
@import './items/application-popup.scss';
@import './items/patches-modal.scss';
@import './items/socks-modsl.scss';
