@import '../items/questions-item.scss';
@import '../items/question-banner';
.questions {
    margin-top: 60px;
    .title {
        &::after {
            display: none;
        }
    }
    .questions-item-wrapper {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 28px ;
    }
    .separator {
        width: 100%;
        height: 1px;
        background-color:#E2EBF1 ;
    }
    .questions-banner {
        margin-top: 60px;
    }
}
@media (max-width:475px) {
    .questions {
        margin-top: 30px;
        .questions-item-wrapper {
            margin-top: 0px;
            gap: 0px;
        }
        .questions-banner {
            margin-top: 30px;
        }
    }
    
}